@import url('https://fonts.cdnfonts.com/css/a-otf-shin-go-pro');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.selector-for-some-widget {
  box-sizing: content-box;
}


.bg-primary{
	background-color: rgb(227, 227, 227) !important;
	border-color: transparent !important;

}

.bg-secondary{
	background-color: darkred !important;
	border-color: transparent !important;
}

.img-logo-menu{
	height: 65px;
	width: 130px;
}

.txt-menu{
	font-size: larger;
	font-family: "Poppins", sans-serif;
}


.nav-item{
	padding: 0 10px;
}

.columnas-footer{
	padding-top: 35px;
	padding-bottom: 10px;
}

.img-logo-footer{
	width: 20vw;
	height: 10vw;
}

.Logo-redes{
	width: 45px;
	height: 45px;
	padding: 0;
	margin: 0;
}

.Texto-Redes{
	text-transform: capitalize;
  font-weight: bolder;
  font-size: 60px;
}

.item-carrusel{
	height: 90vh;
}

.img-carrusel{
	height: 100%;
	object-fit: cover;
}

.txt-carrusel-1-1, .txt-carrusel-1-2, .txt-carrusel-2, .txt-carrusel-3{
	text-shadow: 1px 2px black;
	font-family: "Poppins", sans-serif;
}

.txt-carrusel-1-2, .txt-carrusel-2{
	font-size: 55px;
	font-weight: bold;
}

.txt-carrusel-1-1, .txt-carrusel-3{
	font-size: 80px;
	font-weight: bolder;
	text-align: left !important;
}

.txt-carrusel-1-2{
	text-align: right !important;
}

.btn-carrusel-1, .btn-carrusel-2{
	font-family: 'A-OTF Shin Go Pro', sans-serif;
	font-size: large;
	background-color: white;
}

.btn-carrusel-1{
	margin-top: 10px;
	margin-bottom: 15px;
}

.btn-carrusel-2{
	margin-bottom: 20px;
}

.btn-carrusel-1:hover, .btn-carrusel-2:hover{
	background-color: transparent !important;
}

.txt-marcas-principal{
	text-align: center;
	font-family: 'A-OTF Shin Go Pro', sans-serif;
	font-size: 300%;
	font-weight: bold;
	text-shadow: 1px 2px black;
}


.botones-marca-principal{
	width: 50px;
	height: 50px;
	display: inline-block;
}

.img-boton-principal{
	margin: 1.5%;
	width: 110px;
	height: 110px;
	border-radius: 100%;
	box-shadow: 1px 2px black;
}

.img-boton-principal:hover{
	filter: brightness(0.9);
	transform: translateY(5px);
}

.marcas{
	margin: 70px 0;
}

.container-marcas, .container-productos-principal{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.linea-marcas, .linea-productos-principal{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.columna-marcas{
	flex-basis: 30%;
	min-width: 250px;
	margin: 30px 0;
}

.columna-marcas img{
	width: 100%;
}

.txt-titulo-productos-principal{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	font-family: 'A-OTF Shin Go Pro', sans-serif;
	color: white;
	font-weight: bold;
	text-shadow: 1px 2px black;
}

.columna-productos-principal{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	font-family: "Anonymous Pro", monospace;
}
.columna-productos-principal img{
	width: 100%;
}

.columna-productos-principal:hover{
	transform: translateY(-5px);
}

.txt-productos-principal{
	background-color: white;
}

.nombre-producto-principal, .precio-producto-principal{
	margin-left: 10px;
	font-weight: bolder;
}

.nombre-producto-principal{
	font-size: large;
}

.texto-QS{
	text-align: center;
}

.titulos-QS, .titulos-TYU, .titulos-comercializacion, .titulos-contacto{
	text-shadow: 1px 2px black;
	color: white !important;
}

.img-quienesSomos{
	height: 70%;
	width: 70%;
}

.linea-QS1 {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col-2{
	flex-basis: 50%;
	min-width: 300px;
}

.col-2 img{
	max-width: 100%;
	padding: 50px 0px;
}

.txt-pag{
	font-family: "Poppins", sans-serif;
	text-align: center;
	max-width: 900px;
	margin: auto;
	color: black;
}

/* Contacto */
.contact-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.contact-left {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.contact-right {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 20px;
}


.contact-right-title h2 {
	font-weight: 600;
	color: white;
	font-size: 40px;
	margin-bottom: 5px;
}

.contact-right-title hr {
	border: none;
	width: 120px;
	height: 5px;
	background-color: darkred;
	border-radius: 10px;
	margin-bottom: 20px;
}

.contact-inputs {
	width: 400px;
	height: 50px;
	padding-left: 25px;
	font-weight: 500;
	color: #000;
	border-radius: 10px;
}

.contact-right textarea {
	height: 140px;
	padding-top: 15px;
	border-radius: 20px;
}

.contact-inputs:focus {
	border: 2px solid darkred;
}

.contact-inputs::placeholder {
	color: #a9a9a9;
}

.contact-right button {
	display: flex;
	align-items: center;
	padding: 15px 30px;
	font-size: 16px;
	color: #fff;
	gap:10px;
	border: none;
	border-radius: 50px;
	background: darkred;
	cursor: pointer;
}

.contact-right button img {
	height: 15px;
}

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;          
  }
  
  .contact-right {
	width: 100%;
	max-width: 500px; 
	padding: 20px;
  }
  

  @media screen and (max-width: 1280px) {
	.txt-carrusel-1-1, .txt-carrusel-1-2{
		text-align: center !important;
	}
	.txt-carrusel-1-1{
		font-size: 55px;
	}
  }

  @media screen and (max-width: 768px) {
	.txt-carrusel-1-1, .txt-carrusel-1-2, .txt-carrusel-2, .txt-carrusel-3{
		font-size: 35px;
		text-align: center !important;
	}

	.txt-marcas-principal{
		font-size: 275%;
	}

	.img-logo-footer{
		width: 100px;
		height: 50px;
	}

	.link-footer{
		font-size: small;
	}
  }